*.spec
*.pyc
analyzer_bets.py
mpg123-1.23.8-x86-64/*
tts.py
doc/*
docs/*
.pylintrc
build/*
dist/*
debug.log
*.pickle
.coverage
.idea/*
cov_html/*
source/*
sportsbetting/resources/*.png
sportsbetting/resources/*.jpg
sportsbetting/resources/*.pub
TODO.txt
teams2.db
